[Unit]
Description=Run Rannich 5 minut daily

[Timer]
OnCalendar=Mon..Fri *-*-* 07:01:00
OnCalendar=Sat,Sun *-*-* 08:01:00
Persistent=true
Unit=rannich-5minut.service

[Install]
WantedBy=timers.target
